/*Estilos generales*/
* {
    font-family: 'Fira Code', monospace;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #282C33;
    color: white;
}

html {
    overflow-y: scroll; /* Esto asegura que la barra de desplazamiento siempre esté visible */
}


body {
    min-height: 100vh;
}

#icon {
    width: 70px;
    height: 30px;
}

main {
    flex: 1;
}
/*botones*/
.btn:not(#language-btn){
    background-color: #282C33;
    border-color: #C778DD;
    border-radius: 0%;
    padding: 10px 20px;
    margin-left: 10px;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s ease;
    transition: transform 0.2s ease-in-out;
}

.btn:hover:not(#language-btn, #flags){
    background-color: hsla(289, 60%, 67%, 0.1);
    border-color: #C778DD;
    transform: scale(1.05);
    color: white;
}

#language-btn {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 10px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#language-btn:hover {
    background-color: hsla(289, 60%, 67%, 0.3);
}
/*Fin estilos generales*/

/*Estilos pagina Principal*/
span {
    color: #C778DD;
}

#index-card {
    height: 220px;
    margin-bottom: 20px;
    background-color: #282C33;
    border-color: gray;
    border-radius: 0;
}

.card-list {
    color: gray;
}

#habilidades .list-group-item {
    font-size: 1.2em;
}
/*Fin estilos pagina principal*/

/*Estilos pagina contacto*/
#contacto {
    background: transparent;
    padding: 40px 0;
}

#title {
    margin-bottom: 20px;
}

.form-control {
    background-color: #282C33;
    border-radius: 0;
    margin: 10px;
    color: white;
}

.form-control:focus {
    background-color: #282C33;
    color: white;
    outline: none;
}

.form-control:-webkit-autofill, .form-control:-webkit-autofill:hover, .form-control:-webkit-autofill:focus{
    background-color: #282C33 !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
/*Fin estilos pagina contacto*/

/*Estilos pagina proyectos*/
.texto-proyectos { 
    margin-bottom: 30px;
}

.carousel-indicators {
    bottom: -50px;
}

#projects-card {
    margin-bottom: 20px;
    background-color: #282C33;
    border-color: gray;
    border-radius: 0;
}

#under-construction {
    height: 380px;
}

#titulo-cards {
    border-color: gray;
}

.card-text {
    color: gray;
}
/*Fin estilos pagina proyectos*/

/*Estilos pagina sobreMi*/
#sobreMi_container {
    text-align: center;
}

.toggle-btn {
    margin-bottom: 10px;
}

#toggle-btn-1, #toggle-btn-2 {
    width: 30%;
    max-width: 200px;
}

.texto1, .texto2 {
    display: none;
    text-align: justify;
    padding: 10px;
}

.item-texto2 {
    padding-left: 0;
    margin-left: 30px;
    margin-top: 10px;
}
/*Fin estilos pagina sobre mi*/

/*Responsive Design*/

/*Pantallas pequeñas*/
@media (max-width: 480px) {
    #contacto {
        margin-right: 15px;
    }

    #toggle-btn-1, #toggle-btn-2 {
        width: 40%;
        margin-left: 0 !important;
    }

    #container_sobreMi_1 {
        width: 90%;
    }

    #projects-card {
        width: 100%;
        margin: 0 auto;
    }

    .col-md-4 {
        flex: 0 0 90%; /* Opción para ajustar el tamaño de la columna */
        max-width: 90%;
    }
}

/*Pantallas medianas y grandes (celulares)*/
@media (min-width: 481px) and (max-width: 767px) {
    #habilidades .card {
        margin-bottom: 15px;
    }

    #contacto {
        margin-right: 15px;
    }

    #toggle-btn-1, #toggle-btn-2 {
        width: 40%;
        margin-left: 0 !important;
    }

    #container_sobreMi_1 {
        width: 90%;
    }

    #projects-card {
        width: 100%;
        margin: 0 auto;
    }

    .col-md-4 {
        flex: 0 0 80%; 
        max-width: 80%;
    }

    footer p {
        font-size: 0.9em;
    }
}

/*Pantallas pequeñas tablets*/
@media (min-width: 767px) and (max-width: 989px){
    #toggle-btn-1, #toggle-btn-2 {
        width: 30%;
        margin-left: 0 !important;
    }

    #container_sobreMi_1 {
        width: 100%;
    }

    #carouselProyectos {
        margin-top: 20px !important;
    }

    #projects-card {
        width: 80%;
        margin: 0 auto;
    }

    .col-md-4 {
        flex: 0 0 80%; 
        max-width: 80%;
    }
}

/*Pantallas grandes tablets*/
@media (min-width: 990px) and (max-width: 1279px){
    #toggle-btn-1, #toggle-btn-2 {
        width: 30%;
    }

    #container_sobreMi_1 {
        width: 100%;
    }

    #projects-card {
        width: 100%;
        margin: 0 auto;
    }

    .col-md-4 {
        flex: 0 0 50%;
        max-width: 60%;
    }
}

/*laptops y pantallas estandar*/
@media (min-width: 1280px) and (max-width: 1439px) {
    #toggle-btn-1, #toggle-btn-2 {
        width: 30%;
    }

    #container_sobreMi_1 {
        width: 100%;
    }

    #projects-card {
        width: 80%;
        margin: 0 auto;
    }

    .col-md-4 {
        flex: 0 0 50%;
        max-width: 60%;
    }
}

/*monitores grandes y pantallas de escritorio*/
@media (min-width: 1440px) {
    #toggle-btn-1, #toggle-btn-2 {
        width: 30%;
    }

    #container_sobreMi_1 {
        width: 100%;
    }

    #projects-card {
        width: 70%;
        margin: 0 auto;
    }

    .col-md-4 {
        flex: 0 0 50%;
        max-width: 60%;
    }
}